@use 'src/styles/colours';

nav.navbar {
  margin-bottom: 1em;
  background-color: colours.$red;
  border-bottom: 3px solid colours.$red;
}

nav {
  .navbar-start {
    flex: 1 0 auto;
  }

  .brand__logo {
    padding: 0.5em 1em;
  }

  .title a,
  .subtitle {
    color: #fff;
  }

  .navbar-item {
    text-align: center;
  }

  .navbar-item > a {
    color: #fff;
    text-decoration: underline;

    @media only screen and (max-width: 1023px) {
      color: #000;
    }
  }

  @media only screen and (max-width: 1023px) {
    .button.button--contribute {
      margin: auto;
      color: #fff;
      border: 1px solid colours.$turquoise;
      background-color: colours.$turquoise;
    }
  }

  .mobile-only {
    form {
      margin: 0.5em auto;
    }

    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }

  .desktop-only {
    @media only screen and (max-width: 1023px) {
      display: none;
    }
  }
}
