@import "src/styles/colours";
$tabs-toggle-link-active-background-color: $turquoise;
$tabs-toggle-link-active-border-color: $turquoise;
$navbar-burger-color: #fff;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/layout/_all.sass";

@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/notification.sass";

@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/components/tabs.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/modal.sass";
@import "~bulma/sass/components/message.sass";

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
